<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-toolbar color="light" class="ion-no-padding">
          <ion-title color="primary" size="small">Cards</ion-title>
          <ion-buttons slot="end" class="ion-margin-end">
            <ion-button fill="clear" id="cards-filter-trigger">
              <ion-icon color="primary" slot="icon-only" name="filter">
              </ion-icon>
            </ion-button>
            <ion-badge slot="start" class="ion-no-padding"
              color="success">{{cardsFilterIndeicator}}</ion-badge>
            <app-filter-card *ngIf="hasCardsData"
            [cards]="inputCards"
              (onCardFilter)="onApplyCardFilters($event)"></app-filter-card>
            <ion-button size="small"
              id="open-create-dialog-card"
              shape="round"
              color="primary">
              Add
            </ion-button>
            <app-create-card></app-create-card>
          </ion-buttons>
        </ion-toolbar>
        <app-cards *ngIf="hasCardsData"
          [cards]="inputCards"></app-cards>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-toolbar color="light" class="ion-no-padding">
          <ion-title size="small" color="primary">Categories</ion-title>
          <ion-buttons slot="end" class="ion-margin-end">
            <ion-button fill="clear" id="category-filter-trigger">
              <ion-icon color="primary" slot="icon-only" name="filter">
              </ion-icon>
            </ion-button>
            <ion-badge slot="start" class="ion-no-padding"
              color="success">{{categoriesFilterIndeicator}}</ion-badge>
            <app-filter-category *ngIf="hasCatsData"
            [categories]="inputCategories"
              (onCategoryFilter)="onApplyCategoryFilters($event)"></app-filter-category>
            <ion-button
              id="open-create-dialog-category"
              shape="round"
              color="primary" size="small">
              Add
            </ion-button>
            <app-create-category></app-create-category>
          </ion-buttons>
        </ion-toolbar>
        <app-category *ngIf="hasCatsData"
          [categories]="inputCategories"></app-category>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>