<canvas appCardBarChartPage
  [labels]="inputLabels"
  [data]="inputData"
  [backgroundColor]="inputBackgroundColor"
  width="475" height="310"></canvas>

<ion-item lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="setShowTransactions()">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label color="secondary" class="ion-text-end">Total:
    Rs.{{total}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let trans of transactions;let i=index;">
    <ion-accordion [value]="trans.year">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{trans.year}}</ion-label>
        <ion-label color="tertiary">Total: {{trans.total}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item color="primary" *ngFor="let monthTotal of trans.monthsTotals"
          class="ion-no-padding"
          lines="full">
          <ion-label
            class="ion-no-padding ion-padding-start">{{monthTotal.month}}</ion-label>
          <ion-label
            class="ion-no-padding ion-text-end">Rs.{{monthTotal.total}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>