<div id="app-cards">
  <ion-button *ngFor="let item of cards" class="ion-no-padding"
    shape="round"
    [id]="'open-cards-dialog_'+item.id">
    <ion-chip id="cardtype" [class]="item.type+'_type'">
      {{item.type}}
    </ion-chip>
    <ion-chip id="cardnumber">
      {{item.cardNumber}}
    </ion-chip>
    <ion-chip id="bankname" [class]="item.bankName+'_card'">
      {{item.bankName}}
    </ion-chip>
    <app-update-card [inputSelectedItemId]="item.id"></app-update-card>
  </ion-button>
</div>