<div id="app-cards">
  <ion-reorder-group  [disabled]="false"
    (ionItemReorder)="handleReorder($any($event))">
    <ion-card *ngFor="let item of cards">
    <ion-item  
      class="ion-no-padding"
      shape="round"
      [id]="'open-cards-dialog_'+item.id">
      <ion-chip [class]="'DEFAULT_CARD '+ item.type+'_type'">
        {{item.type}}
      </ion-chip>
      <ion-chip class="DEFAULT_CARD" >
        {{item.cardNumber}}
      </ion-chip>
      <ion-chip [class]="'DEFAULT_CARD '+item.bankName+'_card'">
        {{item.bankName}}
      </ion-chip>
      <ion-reorder slot="end"></ion-reorder>
      <app-update-card [inputSelectedItemId]="item.id"></app-update-card>
    </ion-item>
  </ion-card>
  </ion-reorder-group>
</div>