.DEFAULT_CARD {
  --background: var(--ion-color-medium);
  --color: var(--ion-color-light);
}

.DEFAULT_CARD.ICICI_card {
  --background: #E56D1D;
}

.DEFAULT_CARD.SBI_card {
  --background: #1166DD;
}

.DEFAULT_CARD.HDFC_card {
  --background: #FF0000;
}

.DEFAULT_CARD.RUPAY_type {
  --background: var(--ion-color-warning-tint);
}

.DEFAULT_CARD.AMAZON_type {
  --background: var(--ion-color-dark-tint);
}

.DEFAULT_CARD.FOOD_type {
  --background: var(--ion-color-medium-tint);
}

.DEFAULT_CARD.DEBIT_type {
  --background: #001E79;
}

.DEFAULT_CARD.CREDIT_type {
  --background: var(--ion-color-danger-tint);
}

ion-item.card_item {
  --background: linear-gradient(135deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
}

div#app-cards {
  max-height: 15em;
  overflow-y: scroll;
  padding-left: 1em;
  padding-right: 1em;
}