<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="utility.handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Category Chart division start -->
  <div *ngIf="!hideCatsAnalytics">
    <app-analytics-filters
      *ngIf="hasCardsData && hasCatsData && expenses.length>0"
      [cards]="cardDetails" [cats]="categories"
      [xpenses]="expenses" [selectedMonth]="selectedMonth"
      [selectedYear]="selectedYear"
      (filteredExpenses)="onFiltersApplied($event,'CAT')">
    </app-analytics-filters>
    <div>
      <app-categories-analytics
        *ngIf="hasCardsData && hasCatsData && catsAnalyticsExpenses.length>0"
        [cats]="categories"
        [cards]="cardDetails"
        [expenses]="catsAnalyticsExpenses"></app-categories-analytics>
    </div>
  </div>
  <!-- Category Chart division end -->

  <!-- Card Chart division start -->
  <div *ngIf="!hideCardsAnalytics">
    <app-analytics-filters
      *ngIf="hasCardsData && hasCatsData && expenses.length>0"
      [cards]="cardDetails" [cats]="categories"
      [xpenses]="expenses" [selectedMonth]="selectedMonth"
      [selectedYear]="selectedYear"
      (filteredExpenses)="onFiltersApplied($event,'CARD')">
    </app-analytics-filters>
    <div>
      <app-cards-analytics
        *ngIf="hasCardsData && hasCatsData && cardsAnalyticsExpenses.length>0"
        [cats]="categories"
        [cards]="cardDetails"
        [expenses]="cardsAnalyticsExpenses"></app-cards-analytics>
    </div>
  </div>
  <!-- Card Chart division end -->

  <!-- Dialy Chart division start -->
  <div *ngIf="!hideMonthAnalytics">
    <app-analytics-filters
      *ngIf="hasCardsData && hasCatsData && expenses.length>0"
      [cards]="cardDetails" [cats]="categories"
      [xpenses]="expenses" [selectedMonth]="selectedMonth"
      [selectedYear]="selectedYear"
      (filteredExpenses)="onFiltersApplied($event,'MONTH')">
    </app-analytics-filters>
    <div>
      <app-daily-analytics
        *ngIf="hasCardsData && hasCatsData && monthAnalyticsExpenses.length>0"
        [cats]="categories"
        [cards]="cardDetails"
        [expenses]="monthAnalyticsExpenses"></app-daily-analytics>
    </div>
  </div>
  <!-- Dialy Chart division end -->

  <!-- Year Chart division start -->
  <div *ngIf="!hideAllMonthsAnalytics">
    <app-analytics-filters
      *ngIf="hasCardsData && hasCatsData && expenses.length>0"
      [cards]="cardDetails" [cats]="categories"
      [xpenses]="expenses"
      [selectedYear]="selectedYear"
      [disableMonth]="true"
      (filteredExpenses)="onFiltersApplied($event,'YEAR')">
    </app-analytics-filters>
    <div>
      <app-cards-monthly-analytics
        *ngIf="hasCardsData && hasCatsData && yearsAnalyticsExpenses.length>0"
        [cats]="categories"
        [cards]="cardDetails"
        [expenses]="yearAnalyticsExpenses">
      </app-cards-monthly-analytics>
    </div>
  </div>
  <!-- Year Chart division end -->

  <!-- Years Chart division start -->
  <div *ngIf="!hideAllYearsAnalytics">
    <app-analytics-filters
      *ngIf="hasCardsData && hasCatsData && expenses.length>0"
      [cards]="cardDetails" [cats]="categories"
      [xpenses]="expenses" [disableYear]="true" [disableMonth]="true"
      (filteredExpenses)="onFiltersApplied($event,'YEARS')">
    </app-analytics-filters>
    <div>
      <app-cards-yearly-analytics
        *ngIf="hasCardsData && hasCatsData && yearsAnalyticsExpenses.length>0"
        [cats]="categories"
        [cards]="cardDetails"
        [expenses]="yearsAnalyticsExpenses">
      </app-cards-yearly-analytics>
    </div>
  </div>
  <!-- Years Chart division end -->

</ion-content>