<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center">
            <ion-label color="secondary" class="ion-text-start"> Cards
              Analytics</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-select
              class="ion-no-padding"
              [placeholder]="presentMonth"
              interface="popover"
              (ionChange)="onCardMonthChange($event)">
              <ion-select-option *ngFor="let item of months;"
                [value]="item.value">
                {{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="2">
            <ion-select
              class="ion-no-padding"
              [placeholder]="presentYear"
              interface="popover"
              (ionChange)="onCardYearChange($event)">
              <ion-select-option *ngFor="let item of years;"
                [value]="item">
                {{item}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3">
            <ion-toggle id="emi-toggle" class="ion-float-end"
              (ionChange)="showOrHideCardsAnalytics($event)">{{'Hide'}}
            </ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngIf="!hideCardsAnalytics">
      <app-cards-analytics
        *ngIf="hasCardsData && hasCatsData && inputCardsYearMonthExpenses.length>0"
        [cats]="inputCategories"
        [cards]="inputCardDetails"
        [expenses]="inputCardsYearMonthExpenses"></app-cards-analytics>
    </div>
  </div>
  <div id="cats-section">
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center">
            <ion-label color="secondary" class="ion-text-start"> Categories
              Analytics</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-select
              class="ion-no-padding"
              [placeholder]="presentMonth"
              interface="popover"
              (ionChange)="onCatMonthChange($event)">
              <ion-select-option *ngFor="let item of months;"
                [value]="item.value">
                {{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="2">
            <ion-select
              class="ion-no-padding"
              [placeholder]="presentYear"
              interface="popover"
              (ionChange)="onCatYearChange($event)">
              <ion-select-option *ngFor="let item of years;"
                [value]="item">
                {{item}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3">
            <ion-toggle id="emi-toggle" class="ion-float-end"
              (ionChange)="showOrHideCatsAnalytics($event)">{{'Hide'}}
            </ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngIf="!hideCatsAnalytics">
      <app-categories-analytics
        *ngIf="hasCardsData && hasCatsData && inputCatsYearMonthExpenses.length>0"
        [cats]="inputCategories"
        [cards]="inputCardDetails"
        [expenses]="inputCatsYearMonthExpenses"></app-categories-analytics>
    </div>
  </div>

  <div>
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center">
            <ion-label color="secondary" class="ion-text-start">
              Monthly Analytics</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-select
              class="ion-no-padding"
              [placeholder]="presentYear"
              interface="popover"
              (ionChange)="onAllMonthsYearChange($event)">
              <ion-select-option *ngFor="let item of years;"
                [value]="item">
                {{item}}
              </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3">
            <ion-toggle id="emi-toggle" class="ion-float-end"
              (ionChange)="showOrHideAllMonthsAnalytics($event)">{{'Hide'}}
            </ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngIf="!hideAllMonthsAnalytics">
      <app-cards-monthly-analytics
        *ngIf="hasCardsData && hasCatsData && inputAllMonthsExpenses.length>0"
        [cats]="inputCategories"
        [cards]="inputCardDetails"
        [expenses]="inputAllMonthsExpenses">
      </app-cards-monthly-analytics>
    </div>
  </div>

  <div>
    <ion-item lines="full">
      <ion-label color="secondary" class="ion-text-start">
        Yearly Analytics</ion-label>
    </ion-item>
    <div>
      <app-cards-yearly-analytics
        *ngIf="hasCardsData && hasCatsData && inputAllYearsExpenses.length>0"
        [cats]="inputCategories"
        [cards]="inputCardDetails"
        [expenses]="inputAllYearsExpenses"
        [years]="years">
      </app-cards-yearly-analytics>
    </div>
  </div>
</ion-content>