<div id="app-category">
  <div *ngIf="isEnabledReorder">
    <ion-reorder-group [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))">
      <ion-card *ngFor="let item of categories">
        <ion-item>
          <ion-label>
            {{item.name}}
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-card>
    </ion-reorder-group>
  </div>
  <div *ngIf="!isEnabledReorder">
    <ion-chip [ngStyle]=" utility.getRandomStyleChip()"
      [id]="'open-category-dialog_'+item.id"
      *ngFor="let item of categories;let i=index">
      {{item.name}}
      <app-update-category
        [inputSelectedItemId]="item.id"></app-update-category>
    </ion-chip>
  </div>
</div>
