div#app-category {
  max-height: 28em;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: scroll;
}

ion-item.cat_item {
  --background: linear-gradient(135deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
}

.cat {
  --background: linear-gradient(135deg, var(--ion-color-warning) 0%, var(--ion-color-danger) 100%);
  --color: var(--ion-color-light);
}