<ion-modal aria-hidden="true" #createExpanseModal
  trigger="open-create-dialog-expense"
  [initialBreakpoint]="0.65"
  [breakpoints]="[0,0.65, 0.75,0.90]"
  handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding" color="light">
      <form [formGroup]="expenseFG"
        (ngSubmit)="createExpanseModal.dismiss();onSubmit();">
        <ion-toolbar color="light">
          <ion-button size="small" fill="clear" shape="round" color="secondary"
            (click)="onClear()"
            color="secondary">Clear</ion-button>
          <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="secondary"
              [disabled]="expenseFG.invalid"
              type="submit">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-item color="light">
          <ion-select
            label="Card Type *"
            formControlName="cardTypeId"
            labelPlacement="stacked"
            (ionChange)="expenseFG.controls.cardTypeId.setValue($event.target.value)"
            required interface="popover">
            <ion-select-option *ngFor="let item of cardDetails"
              [value]="item.id">
              {{item.bankName+'-'+item.type}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="light">
          <ion-select
            label="Category *"
            formControlName="categoryId"
            labelPlacement="stacked" interface="popover"
            (ionChange)="expenseFG.controls.categoryId.setValue($event.target.value)"
            required>
            <ion-select-option *ngFor="let item of categories;"
              [value]="item.id">
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="light">
          <ion-input type="number"
            label="Amount *" ngDefaultControl
            formControlName="amount"
            (keypress)="onKeyPress()" required
            labelPlacement="stacked"></ion-input>
          <ion-toggle ngDefaultControl
            formControlName="isInclude" checked="true"
            (ionChange)="expenseFG.controls.isInclude.setValue($event.target.checked)">Include</ion-toggle>
        </ion-item>
        <ion-item color="light">
          <ion-input type="number"
            label="EMI Months" ngDefaultControl
            formControlName="months"
            labelPlacement="stacked" *ngIf="hasEMI"></ion-input>
          <ion-toggle id="emi-toggle" class="ion-float-end"
            checked="false"
            (ionChange)="hasEMI = $event.target.checked">{{hasEMI?'Hide EMI':'Show EMI'}}
          </ion-toggle>
        </ion-item>
        <ion-item color="light">
          <ion-input
            label="Note" ngDefaultControl
            formControlName="note"
            class="ion-text-uppercase"
            minlength="0"
            maxlength="100"
            [counter]="true"
            labelPlacement="stacked"></ion-input>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
