<canvas appVerticalBarChart
  [labels]="inputLabels"
  [data]="inputData"
  [backgroundColor]="inputBackgroundColor"
  width="475" height="310"></canvas>

<ion-item lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="showTransactions = !showTransactions">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label color="secondary" class="ion-text-end">
    {{cardsTotal |currency:'INR'}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let card of monthlyExpenses;let i=index;">
    <ion-accordion [value]="card.month">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{card.month}}</ion-label>
        <ion-label color="tertiary">{{card.total |currency:'INR'}}</ion-label>
        <ion-label color="tertiary">
          {{utility.getPercentage(card.total,cardsTotal)}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item color="primary" *ngFor="let expense of card.expenses"
          class="ion-no-padding"
          lines="full">
          <ion-label
            class="ion-no-padding ion-padding-start">{{
            utility.getcard(cards,expense.cardTypeId)}}</ion-label>
          <ion-label>{{expense.amount|currency:'INR'}}</ion-label>
          <ion-label class="ion-no-padding ion-text-end">
            {{utility.getPercentage(expense.amount,card.total)}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>