<canvas appCatBarChartPage
  [labels]="inputLabels"
  [backgroundColor]="inputBackgroundColor"
  [data]="inputData"
  width="475" height="310"></canvas>

<ion-item lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="showTransactions = !showTransactions">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label class="ion-text-end" color="secondary">Total:
    Rs.{{catsTotal}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let cat of categoriesExpenses;let i=index;">
    <ion-accordion [value]="utility.getCategory(cats, cat.catId)"
      *ngIf="cat.total>0">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{utility.getCategory(cats,
          cat.catId)}}</ion-label>
        <ion-label color="tertiary">Total: {{cat.total}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item color="primary" class="ion-no-padding" lines="full"
          *ngFor="let expense of cat.expenses">
          <ion-label
            class="ion-no-padding ion-padding-start">{{utility.getcard(cards,
            expense.cardTypeId)}}</ion-label>
          <ion-label
            class="ion-no-padding ion-text-end">Rs.{{expense.amount}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>