<ion-modal #updateCardModal
  [trigger]="'open-cards-dialog_' +inputSelectedItemId"
  [initialBreakpoint]="0.40"
  [breakpoints]="[0,0.40, 0.75,0.90]"
  handleBehavior="cycle" (willPresent)="onGetCardDetails(inputSelectedItemId)">
  <ng-template>
    <ion-content color="light" class="ion-padding">
      <form [formGroup]="updateCardFG">
        <ion-toolbar color="light">
          <ion-button size="small" fill="clear" shape="round"
            color="secondary"
            (click)="onDelete(inputSelectedItemId);updateCardModal.dismiss()">Remove</ion-button>
          <ion-buttons slot="end">
            <ion-button size="small" shape="round"
              color="secondary"
              (click)="onUpdateSubmit(inputSelectedItemId);updateCardModal.dismiss()">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-item color="light">
          <!-- (ionChange)="updateCardFG.controls.bankName.setValue($event.target.value)" -->

          <ion-select
            label="Bank Name *"
            formControlName="bankName"
            labelPlacement="stacked"
            required interface="popover">
            <ion-select-option *ngFor="let item of banks"
              [value]="item.name">
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="light">
          <ion-select
            label="Card Type *"
            formControlName="type"
            labelPlacement="stacked"
            required interface="popover">
            <ion-select-option *ngFor="let item of cardTypes"
              [value]="item.name">
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <!-- (ionChange)="updateCardFG.controls.type.setValue($event.target.value)" -->

      </form>
    </ion-content>
  </ng-template>
</ion-modal>