<canvas appCardPieChartPage
  [labels]="inputLabels"
  [backgroundColor]="inputBackgroundColor"
  [data]="inputData"
  (legendItemClick)="onLegendItemClick($event)"
  width="475" height="310"></canvas>

<ion-item id="cards-trans" lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="showTransactions = !showTransactions">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label color="secondary" class="ion-text-end">Total:
    Rs.{{cardsTotal}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let card of cardsExpenses;let i=index;">
    <ion-accordion [value]="utility.getcard(cards,card.cardId)">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{ utility.getcard(cards,card.cardId)
          }}</ion-label>
        <ion-label color="tertiary">Total: {{card.cardTotal}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-accordion-group *ngFor="let expense of card.expenses">
          <ion-accordion
            [value]="utility.getCategory(cats, expense.categoryId)">
            <ion-item color="primary" slot="header" class="ion-no-padding"
              lines="full">
              <ion-label
                class="ion-no-padding ion-padding-start">{{utility.getCategory(cats,
                expense.categoryId)}}</ion-label>
              <ion-label
                class="ion-no-padding ion-text-end">Rs.{{expense.amount}}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item color="light" lines="full"
                *ngFor="let transaction of expense.transactions">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-label color="secondary">{{transaction.fullDate
                        | date:'short'}}</ion-label>
                    </ion-col>
                    <ion-col size="2.5">
                      <ion-label
                        color="secondary">Rs.{{transaction.amount}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label
                        color="secondary">
                        <i> {{transaction.note}} </i></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>