<canvas appCardPieChartPage
  [labels]="inputLabels"
  [backgroundColor]="inputBackgroundColor"
  [data]="inputData"
  width="475" height="310"></canvas>

<ion-item id="cards-trans" lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="setShowTransactions()">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label color="secondary" class="ion-text-end">Total:
    Rs.{{cardsTotal}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let card of cardsExpenses;let i=index;">
    <ion-accordion [value]="inputLabels[i]">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{inputLabels[i]}}</ion-label>
        <ion-label color="tertiary">Total: {{inputData[i]}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-accordion-group *ngFor="let expense of card.expenses">
          <ion-accordion [value]="getCategory(expense.totalExpense.categoryId)">
            <ion-item color="primary" slot="header" class="ion-no-padding"
              lines="full">
              <ion-label
                class="ion-no-padding ion-padding-start">{{getCategory(expense.totalExpense.categoryId)}}</ion-label>
              <ion-label
                class="ion-no-padding ion-text-end">Rs.{{expense.totalExpense.amount}}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item color="light" class="ion-padding-start" lines="full"
                *ngFor="let transaction of expense.transactions">
                <ion-label
                  class="ion-no-padding ion-padding-start">{{getCategory(transaction.categoryId)}}</ion-label>
                <ion-label
                  class="ion-no-padding ion-text-end">{{transaction.fullDate
                  | date:'medium'}}</ion-label>
                <ion-label
                  class="ion-no-padding ion-text-end">Rs.{{transaction.amount}}</ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>