<canvas appCardPieChartPage
  [labels]="inputLabels"
  [backgroundColor]="inputBackgroundColor"
  [data]="inputData"
  width="300" height="300"></canvas>

<ion-item color="light" id="category-select">
  <ion-select
  class="ion-no-padding"
    id="categoryId"
    label="Select Category"
    placeholder="ALL"
    interface="popover"
    (ionChange)="onCategoryChange($event)">
    <ion-select-option value="ALL">ALL</ion-select-option>
    <ion-select-option *ngFor="let item of cats;"
      [value]="item.id">
      {{item.name}}
    </ion-select-option>
  </ion-select>
</ion-item>

<ion-item id="cards-trans" lines="full" color="light">
  <ion-button fill="clear" color="tertiary"
    (click)="setShowTransactions()">
    <u>{{showTransactions?'Hide':'Show'}} Transactions </u></ion-button>
  <ion-label color="secondary" class="ion-text-end">Total:
    Rs.{{cardsTotal}}</ion-label>
</ion-item>

<div *ngIf="showTransactions">
  <ion-accordion-group *ngFor="let card of cardsExpenses;let i=index;">
    <ion-accordion [value]="inputLabels[i]">
      <ion-item slot="header" color="light">
        <ion-label color="secondary">{{inputLabels[i]}}</ion-label>
        <ion-label color="tertiary">Total: {{inputData[i]}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item color="primary" class="ion-no-padding" lines="full"
          *ngFor="let expense of card.expenses">
          <ion-label
            class="ion-no-padding ion-padding-start">{{getCategory(expense.categoryId)}}</ion-label>
          <ion-label
            class="ion-no-padding ion-text-end">Rs.{{expense.amount}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>