<ion-modal #createCardModal
  trigger="open-create-dialog-card"
  [initialBreakpoint]="0.45"
  [breakpoints]="[0,0.45, 0.75,0.90]"
  handleBehavior="cycle">
  <ng-template>
    <ion-content color="light" class="ion-padding">
      <form [formGroup]="newCardsFG"
        (ngSubmit)="onCreate();createCardModal.dismiss()">
        <ion-toolbar color="light">
          <ion-button size="small" shape="round" fill="clear" color="secondary"
            (click)="onClear()">Clear</ion-button>
          <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="secondary"
              type="submit"
              [disabled]="!newCardsFG.valid">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-item color="light">
          <ion-select
            label="Bank Name *"
            formControlName="bankName"
            labelPlacement="stacked"
            (ionChange)="newCardsFG.controls.bankName.setValue($event.target.value)"
            required interface="popover">
            <ion-select-option *ngFor="let item of banks"
              [value]="item.name">
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item color="light">
          <ion-select
            label="Card Type *"
            formControlName="type"
            labelPlacement="stacked"
            (ionChange)="newCardsFG.controls.type.setValue($event.target.value)"
            required interface="popover">
            <ion-select-option *ngFor="let item of cardTypes"
              [value]="item.name">
              {{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>