<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-no-margin ion-padding-start">Expenses</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button fill="clear" id="expense-filter-trigger">
        <ion-icon slot="icon-only" name="filter">
        </ion-icon>
      </ion-button>
      <ion-badge slot="start" class="ion-no-padding"
        color="success">{{expenseFilterIndeicator}}</ion-badge>
      <app-filter-expense
        *ngIf="hasCardsData && hasCatsData && hasExpensesData"
        [cats]="inputCategories"
        [cards]="inputCardDetails"
        [years]="inputYears"
        [expenses]="inputFilterExpenses"
        (onExpenseFilter)="onApplyExpenseFilters($event)"></app-filter-expense>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-expense
    *ngIf="hasCardsData && hasCatsData && hasPresetMonthExpenseData"
    [categories]="inputCategories"
    [cardDetails]="inputCardDetails"
    [expenses]="inputPresetMonthExpenses"></app-expense>
  <ion-fab horizontal="end" class="ion-margin-bottom" vertical="bottom"
    slot="fixed">
    <ion-fab-button id="open-create-dialog-expense">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <app-create-expense
      [categories]="inputCategories"
      [cardDetails]="inputCardDetails"
      *ngIf="hasCardsData && hasCatsData"></app-create-expense>
  </ion-fab>
</ion-content>
