<div id="expenses-content">
  <div
    *ngFor="let item of expenses;let i=index;">
    <ion-card>
      <ion-item [id]="'open-expense-update-dialog_'+item.id"
        class="ion-no-padding ion-activatable"
        lines="none">
        <ion-ripple-effect></ion-ripple-effect>
        <div
          [class]="'DEFAULT_BG '+ utility.getCardDetails(cardDetails,item.cardTypeId)?.bankName +'_BG'">
          {{utility.getCardDetails(cardDetails,item.cardTypeId)?.type?.charAt(0)}}</div>
        <ion-grid>
          <ion-row class="ion-no-margin ion-no-padding ion-padding-start">
            <ion-col>
              <ion-label class="cat_name"
                color="secondary">{{ utility.getCategory(categories
                ,item.categoryId) | pascalcase
                }}</ion-label>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              <ion-label class="expense_amount" color="secondary"> 
                {{item.amount |currency:'INR'}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-margin ion-no-padding ion-padding-start">
            <ion-col size="8.5">
              <ion-label class="expense_dt"
                *ngIf="item.fullDate!==undefined&&item.fullDate!==null"
                color="secondary">
                {{item.fullDate |date:'medium'}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <app-update-expense
        [categories]="categories"
        [cardDetails]="cardDetails"
        [inputSelectedItemId]="item.id"></app-update-expense>
    </ion-card>
  </div>
</div>
